* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



main {
  overflow-y: auto;
  display: flex;

}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: black;
  height: 100%;
  border: 1px solid white;
  color: white;
  font-size: 50px;
}

.box-sidebar-1 {
  width: 100%;
  height: 30%;
  border: 1px solid white;
  font-size: 50px;
  padding-left: 40px;
}

.box-sidebar-2 {
  width: 100%;
  height: 50%;
  border: 1px solid white;
  padding-left: 40px;
  padding-top: 20px;
}

.box-sidebar-3 {
  width: 100%;
  height: 20%;
  border: 1px solid white;
  align-content: flex-end;
}

main {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: calc(100% - 450px);
  background-color: rgb(28, 27, 27);
  border: 1px solid white;
}

.btn-header {
  font-size: 50px;
  width: 15vw;
  border: 1px solid white;
  border-radius: 50px;
  padding: 20px 40px;
  color: white;
  margin-left: 70vw;
  margin-top: 2vh;
  text-align: center;

}

.logo-spoty {
  padding: 80px;
  margin-right: 40px;
}

.logo {
  width: 80px;
  height: 80px;
}

.logo-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: grey;
  color: white;
}


.fa-square-plus {
  font-size: 100px;

}

.container-sm {
  width: 100%;
  height: 250px;
  color: rgb(80, 78, 78);
  margin-bottom: calc(100vh - 250px)
}

.row-sm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.col-sm {
  width: 13%;
  height: 200px;
  font-size: 65px;
  padding-top: 40px;

}


.contaniner {
  width: 100%;
  height: 650px;
  background-color: aqua;
  border: 1px solid white;

}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.style {
  height: 200px;
  background-color: blue;
}