* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: calc(100vh - 300px);
  display: flex;
  flex-wrap: wrap;
}



/*menù laterale*/

.sidebar {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: black;
  height: calc(100vh - 300px);
  color: white;
  font-size: 50px;
}

.box-sidebar-1 {
  width: 100%;
  height: 30%;
  font-size: 50px;
  padding-left: 40px;
}

.box-sidebar-2 {
  width: 100%;
  height: 50%;
  padding-left: 40px;
  padding-top: 20px;
}

.pd-bot-25 {
  padding-bottom: 25px;
}

.box-sidebar-3 {
  width: 100%;
  height: 20%;
  align-content: flex-end;
  padding-left: 40px;
  padding-bottom: 30px;
}

.logo-spoty {
  padding: 60px 40px;
}

.logo {
  width: 80px;
  height: 80px;
}

.logo-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: grey;
  color: white;
  margin-top: 30px;
}

.fa-square-plus {
  font-size: 100px;
}

.pd-30 {
  padding-left: 30px;
}

/*header*/

.content {
  width: calc(100% - 500px);
  height: 100%;
  background-color: rgb(44, 42, 42);
  overflow-y: scroll;
}

.header {
  width: 100%;
  height: 150px;
  background-color: rgb(35, 34, 34);
}

.btn-header {
  font-size: 50px;
  border: 1px solid white;
  border-radius: 50px;
  padding: 30px 30px;
  color: white;
  margin-left: 85%;
  margin-top: 40px;
}

.container-sm {
  width: 100%;
  font-size: 60px;
  color: rgb(177, 173, 173);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pd-left-50 {
  padding-left: 50px;
}

/*fine header*/


/*contenuto*/
.h2-container {
  font-size: 100px;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.container {
  width: 100%;
  background-color: rgb(44, 42, 42);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.space {
  justify-content: space-around;
  margin: 40px;
}

.col {
  width: 15%;
  height: 900px;
}

.img-music {
  width: 100%;
  height: 65%;
}

.text {
  font-size: 50px;
  color: white;
  text-align: center;
}

.p-cont {
  font-size: 60px;
  color: grey;
}

.pd-left-80 {
  padding-left: 80px;
  padding-bottom: 40px;
}

.margin-2 {
  margin: 40px 60px;
}

.margin-right-60 {
  margin-right: 60px;
}

.bord-radius {
  border-radius: 50%;
}

/*footer*/

.style {
  width: 100vw;
  background-color: rgb(78, 73, 73);
}

.footer-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.col-foot {
  height: 300px;
  width: 25vw;
  font-size: 50px;
  padding: 30px;
  color: white;

}

.col-foot-center {
  height: 300px;
  width: 50vw;
  color: white;
}

.img-footer {
  width: 250px;
  height: 250px;
  padding: 25px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.mg-left-60 {
  margin-left: 60px;
}

.font {
  font-size: 100px;
  text-align: center;
  padding-top: 40px;
}

.font-foot-center {
  font-size: 50px;
}

.hr-footbar {
  width: 70%;
  border: 10px solid white;
  margin: 20px auto;

}

.hr-foot-sm {
  width: 50%;
  border: 10px solid white;
}


.foot-icon {
  justify-content: flex-end;
  padding-top: 100px;
  padding-right: 40px;
}

.mg-40 {
  margin-left: 40px;
}